<!-- Global Language Switcher -->
<div class="language-switcher">
  <button 
    class="lang-btn lang-btn-en {% if lang == 'en' %}active{% endif %}"
    onclick="setLanguage('en')">
    EN
  </button>
  <button 
    class="lang-btn lang-btn-nl {% if lang == 'nl' %}active{% endif %}"
    onclick="setLanguage('nl')">
    NL
  </button>
</div>



<script>
  function setLanguage(lang) {
    // Fetch the language switch endpoint
    fetch(`/set-language/${lang}`, {
      method: 'GET',
      credentials: 'same-origin'
    }).then(() => {
      // Reload the page to apply new language
      location.reload();
    });
  }
</script>
